
<!DOCTYPE html>
<html lang="en">

  <body *ngIf="data == null">
    <h4 class="d-block mb-3 center" data-aos="fade-up" data-aos-delay="100">Hmmm, event doesn't seem to exist.<tr></h4><span class="d-block mb-3 center" data-aos="fade-up" data-aos-delay="700">Maybe try checking your event code or contact the event organizer.</span>
  </body>
  <body *ngIf="data != null">
  <div class="site-wrap">

    <div class="site-section site-hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-10">
            <span class="d-block mb-3 caption" data-aos="fade-up" data-aos-delay="100">Introducing</span>
            <h1 class="d-block mb-4" data-aos="fade-up" data-aos-delay="200">{{data['eventName']}}</h1>
            <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300">{{data['startDate']}}</span>
            <span class="d-block mb-5 caption" data-aos="fade-up" data-aos-delay="300">{{data['venue']}}, {{data['city']}}</span>
            <a href="/buy/{{data['event_id']}}" class="btn-custom" data-aos="fade-up" data-aos-delay="400"><span>Buy Tickets</span></a>
            
          </div>
        </div>
      </div>
    </div>

    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="site-section-heading">
              <h2>What's On?</h2>
            </div>
          </div>
          <div class="col-lg-5 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="200">
            <h5>{{data['eventDescription']}}</h5>
          </div>
        </div>

        <div class="row align-items-center speaker">
          <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
            <img src="{{picturesrc}}" alt="Image" class="img-fluid">
          </div>

        </div>

      </div>
    </div>
    
    <div class="site-section">
      <div class="container">
        <div class="site-section-heading">
          <div class="col-lg-4" data-aos="fade-up">
          <div>
            <div data-aos="fade" data-aos-delay="600"><span>Starts in </span></div>
          </div>
            <countdown-timer class="h1" data-aos="fade" data-aos-delay="600" (zeroTrigger)="timesUp()" [end]="[data['startDate']]"> </countdown-timer>
          </div>
          <p class="timercaption" data-aos="fade" data-aos-delay="700">DAYS | HRS | MIN | SEC</p>
        </div> 
    </div>
  </div>

    <div class="site-section">
      <div class="container">
          <div class="col-lg-4" data-aos="fade-up">
            <div class="site-section-heading">
              <h2>Contact us</h2>
            </div>
          </div>
          <div class="col-lg-6 mt-5 pl-lg-5" data-aos="fade-up" data-aos-delay="100">
            <p>Feel free to contact the organizer any time!</p>
          </div>
        </div>
 <div class="container">
        <div class="row align-items-stretch program">
          <div class="col-12 border-top border-bottom py-5" data-aos="fade" data-aos-delay="200">
            <div class="row align-items-stretch">
              <div class="col-md-3 text-white mb-3 mb-md-0"><span>PHONE US:</span><span class="h4"> {{data['phone1']}}</span></div>
              <div *ngIf="data['phone2'] != null" class="col-md-3 text-white mb-3 mb-md-0"><span>PHONE US:</span><span class="h4"> {{data['phone2']}}</span></div>
              <div *ngIf="data['phone3'] != null" class="col-md-3 text-white mb-3 mb-md-0"><span>PHONE US:</span><span class="h4"> {{data['phone3']}}</span></div>
              
              <div class="row-md-9 mt-5" >
                <h3 class="text-white">OR EMAIL US AT:</h3>
                <h3 class="text-white">{{data['email1']}}</h3>
                <h3 *ngIf="data['email2'] != null" class="text-white">{{data['email2']}}</h3>
                <h3 *ngIf="data['email3'] != null" class="text-white">{{data['email3']}}</h3>
              </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  </body>
</html>