
<html lang="en">
    <main id="main">
        <body>
        <section id="faq" class="faq">
            <div class="container">

            <div class="section-title">
                <h2>F.A.Q</h2>
                <p>Frequently Asked Questions</p>
            </div>

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom" data-aos-delay="200">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>What's this?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    TicketMaya is a ticketing application designed for students to create, manage, organize events seamlessly. We provide services such as creating events, purchasing tickets, as well as sharing posters for viewers. All free of charge.
                </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom" data-aos-delay="500">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>How do I create an event?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    First, begin by clicking on the Create Event button in the navigation bar. Then a form will appear on your screen. You can fill necessary details about your event:
                    <br>
                    <tr>Such as</tr>
                    <li>Name</li>
                    <li>Event Dates</li>
                    <li>A description about your event</li>
                    <li>Upload your poster</li>
                    <li>Add how to contact the organizers</li>
                    <li>Add the organizer's emails</li>
                    <br>
                    After you have filled in the information, click on Create Event and an event_id will be generated. Keep your event_id in your notes, because it will be important for your event organizing!
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>What is an event_id?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    An event_id is a 13-code generated after you have created an event. This will ensure you that every user has its own event, and you have the choice to share it as well.</p>
                    The event_id is also necessary for participants and attendees to search for the specific event.
                    <tr>It may look like this: <strong> 5ed633ed91558</strong></tr>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom" data-aos-delay="500">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>How do I buy tickets for an event?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    First, begin by clicking on the Buy Event button in the navigation bar. Then a form will appear on your screen. You can fill necessary details about your event:
                    <br>
                    <tr>Such as</tr>
                    <li>Your name</li>
                    <li>Your email</li>
                    <li>The amount of tickets you'd like to purchase</li>
                    <li>The method of your payment</li>
                    <br>
                    After you have filled in the information, click on Buy Now and you will be redirected to verify your purchase.
                    Next up, check your email. You will be sent a link to a form in order to upload your proof that you have paid your purchase.
                    Verify your purchases, attach your proof, and you can officially attend the event now!
                </div>
            </div>

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>I didn't get a confirmation email. Why?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    Make sure you have put the right email upon buying the event tickets. Please note that the email should be the same as the email you inputted in the form!</p>
                </div>
            </div>

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>I cannot create an event. Why?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    Make sure you followed the requirements in order to create an event. Please fill in the information displayed in the form.</p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>I cannot view an event. Why?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    Make sure you have obtained a valid event_id. Please recheck whether the id is valid or not.</p>
                </div>
            </div>

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>Why did it ask me to verify my email?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    We advise you to verify your account identity to minimize the risk of scams. So, we can create a safer environment.</p>
                </div>
            </div>

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>Is this application free to register?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    Oh yes. This website requires no additional charges whatsoever. So feel free to make use of it.</p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
                <div class="col-lg-5">
                <i class="bx bx-help-circle"></i>
                <h4><strong>Can I contact you?</strong></h4>
                </div>
                <div class="col-lg-7">
                <p>
                    Absolutely. We have our own email and we are open to inquiries and questions, so ask away!
                </p>
                </div>
            </div>

            <div style="text-align:center" data-aos="zoom-in" data-aos-delay="700">
                <h5>Contact us</h5>
                <h2 class="center">info.ticketmaya@gmail.com</h2>
            </div>

            <a href="/" class="btn-get-started" data-aos="zoom-in" data-aos-delay="1100">Home</a>
            </div>
        </section><!-- End Frequently Asked Questions Section -->

        
</body>
</main>

</html>