<nav class="navbar navbar-dark default-navbar-bg">
  <div class="col-md-4">
    <a class="navbar-brand brand-font" [routerLink]="['/']">Ez Ticket</a>
  </div>
  <div class="col-md-1">
    <a class="navbar-text" routerLink="/search">Search</a>
  </div>
  <div class="col-md-1">
    <a class="navbar-text">Create</a>
  </div>
  <div class="col-md-1">
    <a class="navbar-text">Buy a ticket</a>
  </div>
  <div class="col-md-1">
    <a class="navbar-text">Account</a>
  </div>
  <div class="col-md-4 text-right">
    <button class="btn btn-green">Login</button>
    <button class="btn btn-green">Sign Up!</button>
  </div>
</nav>
