

<nav class="navbar navbar-dark default-navbar-bg">
  <div class="col-md-4">
    <a class="navbar-brand brand-font" [routerLink]="['/']">Ticket<a class="brand-font accent">Maya</a></a>
  </div>
  <div class="col-md-4 text-center">
    <div class="row">
      <div class="col-md">
        <a class="navbar-text" [routerLink]="['search']">Search</a>
      </div>
      <div class="col-md">
        <a class="navbar-text" [routerLink]="['create']">Create</a>
      </div>
      <div class="col-md">
        <a class="navbar-text" [routerLink]="['buy']">Buy a ticket</a>
      </div>
      <div class="col-md">
        <a class="navbar-text" [routerLink]="['dashboard']">Account</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 text-right">

    <!--<div class="theme-switcher-wrap">

          <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">

            <div class="switch-path"></div>
            <div class="switch-handle"></div>
          </label>
    </div>-->

    <button class="btn btn-green mr-4" *ngIf="!auth.amILoggedIn()" [routerLink]="['login']">Login</button>
    <button class="btn btn-green" *ngIf="!auth.amILoggedIn()" [routerLink]="['signup']">Sign Up!</button>
    <button class="btn btn-green" (click)="auth.logout()" *ngIf="auth.amILoggedIn()">Log out</button>
  </div>
</nav>

<!--<nav class="site-navbar" role="banner">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-11 col-xl-2">
        <h1><a [routerLink]="['/']" class="text-white h2">EZ<span class="text-secondary">Ticket</span> </a></h1>
      </div>
      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu js-clone-nav mx-auto d-none d-lg-block">
              <li><a [routerLink]="['/']">Home</a></li>
              <li><a [routerLink]="['search']">Search</a></li>
              <li><a [routerLink]="['create']">Create</a></li>
              <li><a [routerLink]="['buy']">Buy</a></li>
              <li><a [routerLink]="['dashboard']">ACCOUNT</a></li>
              <li class="cta"><a [routerLink]="['buy']">Buy Tickets</a></li>
          </ul>
        </nav>
      </div>
      <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 0px;"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
      </div>
    </div>
  
  </nav>
-->

