<!-- <html lang="en" class="{{storedTheme}}" role="main">

<div>
    <head>
        <script>
            const toggleSwitch = document.querySelector('.theme-switch input');
    
              function switchTheme(e) {
                  if(e.target.checked) {
                      document.documentElement.setAttribute('data-theme', 'dark');
                      localStorage.setItem('data-theme', 'dark'); //add this
                  }
                  else{
                      document.documentElement.setAttribute('data-theme', 'light');
                      localStorage.setItem('data-theme', 'light'); //add this
                  }
                }
              toggleSwitch.addEventListener('change', switchTheme, false);
              const currentTheme = localStorage.getItem('data-theme');
              if (currentTheme) {
                  document.documentElement.setAttribute('data-theme', currentTheme);
    
                  if (currentTheme === 'dark') {
                      toggleSwitch.checked = true;
                    }
                  };
          </script>
    </head>
    
    <div class="col-md-12 text-right">
      <div class="theme-switcher-wrap">
            <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
              <div class="slider round"></div>
              <div class="switch-path"></div>
              <div class="switch-handle"></div>
            </label>
    </div>
</div>


<body>
    <h1>Welcome back, Boss</h1>

    <mat-form-field style="width: 50%">
        <input (keyup)="applyFilter($event)" matInput placeholder="Search user">
    </mat-form-field>

    <mat-table class="lessons-table mat-elevation-z8" [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
            <mat-cell *matCellDef="let data">{{data.id}}</mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell class="description-cell"
                    *matCellDef="let data">{{data.name}}</mat-cell>

        </ng-container>
    
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
            <mat-cell class="duration-cell"
                    *matCellDef="let data">{{data.email}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="verified_at">
            <mat-header-cell *matHeaderCellDef>Verified At</mat-header-cell>
            <mat-cell class="duration-cell"
                    *matCellDef="let data">{{data.verified_at}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="banned">
            <mat-header-cell *matHeaderCellDef>Banned?</mat-header-cell>
            <mat-cell class="duration-cell"
                    *matCellDef="let data">{{data.banned}}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        
        <mat-row *matRowDef="let row; columns: displayedColumns" 
            (click)="onRowClicked(row)">
    </mat-row>
        
    </mat-table>

    <mat-paginator [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>


</body>
</div>
</html> -->

<html lang="en" class="{{storedTheme}}" role="main">

    <div>
        <head>
            <script>
                const toggleSwitch = document.querySelector('.theme-switch input');
        
                  function switchTheme(e) {
                      if(e.target.checked) {
                          document.documentElement.setAttribute('data-theme', 'dark');
                          localStorage.setItem('data-theme', 'dark'); //add this
                      }
                      else{
                          document.documentElement.setAttribute('data-theme', 'light');
                          localStorage.setItem('data-theme', 'light'); //add this
                      }
                    }
                  toggleSwitch.addEventListener('change', switchTheme, false);
                  const currentTheme = localStorage.getItem('data-theme');
                  if (currentTheme) {
                      document.documentElement.setAttribute('data-theme', currentTheme);
        
                      if (currentTheme === 'dark') {
                          toggleSwitch.checked = true;
                        }
                      };
              </script>
        </head>
        
        <div class="col-md-12 text-right">
          <div class="theme-switcher-wrap">
                <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
                  <div class="slider round"></div>
                  <div class="switch-path"></div>
                  <div class="switch-handle"></div>
                </label>
        </div>
    </div>

    <div class="container">
    
    <h5>Welcome Admin</h5>
   
    <div  [hidden]="!loaded" style="text-align: center">
    <input class="main-search" (keyup)="applyFilter($event)" placeholder="Search user">
    <mat-table matSort [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="ID" >
          <mat-header-cell *matHeaderCellDef mat-sort-header> id </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> name </mat-header-cell>
          <mat-cell *matCellDef="let user"> {{user.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Email" >
            <mat-header-cell *matHeaderCellDef mat-sort-header> email </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.email}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Verified_at">
            <mat-header-cell *matHeaderCellDef mat-sort-header> verified_at </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.verified_at}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Banned">
            <mat-header-cell *matHeaderCellDef mat-sort-header> banned </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.banned}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="Action">
            <mat-header-cell *matHeaderCellDef mat-sort-header> action </mat-header-cell>
            <mat-cell *matCellDef="let user"><button class="btn btn-danger" (click)="banUser(user.id, user.email)">Ban</button></mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator showFirstLastButtons >
    </mat-paginator>
    </div>
    <button class="btn btn-green" (click)="goBack()">Exit Admin Page</button>
</div>
</div>
<!--</div>-->
</html>