<div class="container">
<div class="row mt-5"></div>
<div class="row">
  <div class="col-md">

  </div>
  <div class="col-md">
    <div class="container-fluid">
        <h2 style="text-align: center">Account Login</h2>
      <div class="row mt-5">
        <div class="card w-100" style="border-radius: 20px">
          <div class="card-body">
            <form class="" [formGroup]="loginForm">
              <div class="form-group">
                <label for="username" style="font-weight: bolder"><i class="material-icons" style="vertical-align: top">email</i> Email</label>
                <input type="email" class="form-control main-search" formControlName="username" id="username">
              </div>
              <div class="form-group">
                <label for="password" style="font-weight: bolder"><i class="material-icons" style="vertical-align: top">lock</i> Password</label>
                <input type="password" class="form-control main-search" formControlName="password" id="password">
              </div>
              <div class="mt-5 text-center">
                <button class="btn btn-green" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="alert alert-info w-100" style="border-bottom-right-radius: 20px; border-bottom-left-radius: 20px" role="alert">
        Don't have an account yet? <a href="signup" class="alert-link">Click here!</a>
      </div>
    </div>
  </div>
  <div class="col-md">

  </div>
</div>

</div>
