<html lang="en" class="{{storedTheme}}" role="main">
<head>
    <script>
        const toggleSwitch = document.querySelector('.theme-switch input');

          function switchTheme(e) {
              if(e.target.checked) {
                  document.documentElement.setAttribute('data-theme', 'dark');
                  localStorage.setItem('data-theme', 'dark'); //add this
              }
              else{
                  document.documentElement.setAttribute('data-theme', 'light');
                  localStorage.setItem('data-theme', 'light'); //add this
              }
            }
          toggleSwitch.addEventListener('change', switchTheme, false);
          const currentTheme = localStorage.getItem('data-theme');
          if (currentTheme) {
              document.documentElement.setAttribute('data-theme', currentTheme);

              if (currentTheme === 'dark') {
                  toggleSwitch.checked = true;
                }
              };
      </script>
</head>

<div class="col-md-12 text-right">
  <div class="theme-switcher-wrap">
        <!--<input type="checkbox" id="checkbox" />-->
        <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
          <!--<div class="slider round"></div>-->
          <div class="switch-path"></div>
          <div class="switch-handle"></div>
        </label>
</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md" data-aos="fade" data-aos-delay="100">

    <h2 class="h2" data-aos="fade-up">Buy Ticket</h2>
      <form [formGroup]="buyForm" novalidate (ngSubmit)="submit()">

        <div class="form-group" data-aos="fade-up" data-aos-delay="200">
          <label for="event_id" style="font-weight: bolder"><i class="material-icons" style="vertical-align: bottom">local_activity</i> Event ID</label>
          <input class="form-control main-search" required placeholder="The unique code of your Event" type="text" formControlName="event_id" id="event_id">
          <small *ngIf="!buyForm.controls.event_id.valid" class="text-danger">

          </small>
          <hr>
        </div>

        <div class="form-group" data-aos="fade-up" data-aos-delay="300">
          <label for="name"><i class="material-icons" style="vertical-align: bottom">person_outline</i> Name</label>
          <input class="form-control main-search" type="text" formControlName="name" id="name" required>
          <small *ngIf="!buyForm.controls.name.valid" class="text-danger">
            Please input your name
          </small>
        </div>

        <div class="form-group" data-aos="fade-up" data-aos-delay="500">
          <label for="eventDescription"><i class="material-icons" style="vertical-align: bottom">mail_outline</i> Email</label>
          <input class="form-control main-search" type="email" formControlName="email" id="email" required>
          <small *ngIf="!buyForm.controls.email.valid" class="text-danger">
            Please input your email
          </small>
        </div>

        <div class="mb-3" data-aos="fade-up" data-aos-delay="700">
          <label for="numTickets"><i class="material-icons" style="vertical-align: bottom">confirmation_number</i> Amount of tickets</label>
          <select class="custom-select main-search" (change)="changeMethod($event)" required formControlName="numTickets" id="numTickets" onmousedown="if(this.options.length>8){this.size=8;}" onchange='this.size=0;' onblur="this.size=0;"> 
             <option value="">- Choose your quantity -</option>
             <option *ngFor="let i of qty;" [ngValue]="i"> {{i}} </option>
          </select>
          <!-- error block -->
          <div class="invalid-feedback" *ngIf="numTickets.errors?.required">
             <sup>*</sup>Please enter your quantity
          </div>
       </div>

        <div class="mb-3" data-aos="fade-up" data-aos-delay="900">
          <select class="custom-select main-search"required (change)="changeMethod($event)" formControlName="paymentMethod" id="paymentMethod" >
             <option value="">- Choose your payment method -</option>
             <option *ngFor="let item of paymentMethods" [ngValue]="item">{{item}}</option>
          </select>
          <!-- error block -->
          <div class="invalid-feedback" *ngIf="paymentMethod.errors?.required">
             <sup>*</sup>Please enter your payment method
          </div>
       </div>

        <div class="center" data-aos="fade-up" data-aos-delay="1100">
        <button type="button" (click)="submit()" class="btn btn-green mt-5">Buy Now!</button>
      </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

</html>
