<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md">

    <h4>New Event</h4>
      <form [formGroup]="eventForm" novalidate (ngSubmit)="submit()">

        <div class="form-group">
          <label>Event Name</label>
          <input type="text" formControlName="name">
          <small *ngIf="!eventForm.controls.name.valid" class="text-danger">
            Event name is required.
          </small>
        </div>

        <div formArrayName="contactEmails">
          <button class="btn btn-primary" (click)="addEmail()">Add another email</button>
          <div *ngFor="let email of contactEmails.controls; let i = index">
            <label>Email {{1+i}}</label>
            <input type="text" [formControlName]="i">
            <button *ngIf="i>=1" class="btn btn-primary" (click)="removeEmail(i)">Remove email</button>
          </div>


        </div>


        <button type="submit" class="btn btn-green" >Submit</button>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
