<html lang="en" class="{{storedTheme}}" role="main">
<head>
    <script>
        const toggleSwitch = document.querySelector('.theme-switch input');

          function switchTheme(e) {
              if(e.target.checked) {
                  document.documentElement.setAttribute('data-theme', 'dark');
                  localStorage.setItem('data-theme', 'dark'); //add this
              }
              else{
                  document.documentElement.setAttribute('data-theme', 'light');
                  localStorage.setItem('data-theme', 'light'); //add this
              }
            }
          toggleSwitch.addEventListener('change', switchTheme, false);
          const currentTheme = localStorage.getItem('data-theme');
          if (currentTheme) {
              document.documentElement.setAttribute('data-theme', currentTheme);

              if (currentTheme === 'dark') {
                  toggleSwitch.checked = true;
                }
              };
      </script>
</head>

<div class="col-md-12 text-right">
  <div class="theme-switcher-wrap">
        <!--<input type="checkbox" id="checkbox" />-->
        <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
          <!--<div class="slider round"></div>-->
          <div class="switch-path"></div>
          <div class="switch-handle"></div>
        </label>
</div>
</div>

<body>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md">

    <h2 class="h2">New Event</h2>
      <form [formGroup]="eventForm" novalidate (ngSubmit)="submit()">

        <div class="form-group">
          <label for="name">Event Name</label>
          <input class="form-control main-search" type="text" formControlName="name" id="name">
          <small *ngIf="!eventForm.controls.name.valid" class="text-danger">
            Please add your event name.
          </small>
        </div>
        <hr>
        <div class="form-group">
          <label for="startDate">Start Date</label>
          <input class="form-control main-search" type="datetime-local" min="{{minDate}}" formControlName="startDate" id="startDate">
          <small *ngIf="!eventForm.controls.startDate.valid" class="text-danger">
            Please determine your event's starting date
          </small>
        </div>

        <div class="form-group">
          <label for="endDate">End Date</label>
          <input class="form-control main-search" type="datetime-local" formControlName="endDate" id="endDate">
          <small *ngIf="!eventForm.controls.endDate.valid" class="text-danger">
            Please determine your end date
          </small>
        </div>

        <div class="form-group">
          <label for="eventDescription">Event Description</label>
          <textarea rows="5" class="form-control main-search" type="text" formControlName="eventDescription" id="eventDescription">Event Description</textarea>
          <small *ngIf="!eventForm.controls.eventDescription.valid" class="text-danger">
            Please provide a brief description about your event!
          </small>
        </div>

        <div class="form-group">
          <label for="location">Event Venue</label>
          <input class="form-control main-search" type="text" formControlName="venue" id="venue">
          <small *ngIf="!eventForm.controls.venue.valid" class="text-danger">
            Please specify where your event will be held
          </small>
        </div>

        <div class="form-group">
          <label for="location">Event City</label>
          <input class="form-control main-search" type="text" formControlName="city" id="city">
          <small *ngIf="!eventForm.controls.city.valid" class="text-danger">
            Please specify which city your event will be held
          </small>
        </div>

        <div formArrayName="contactEmails">
          <div class="text-right">
            <button class="btn btn-green" (click)="addEmail()">Add another email</button>
          </div>
          <div class="mt-2" *ngFor="let email of contactEmails.controls; let i = index">
            <div class="form-inline">
              <label class="mr-2">Email {{1+i}}</label>
              <input class="form-control mr-2" type="email" [formControlName]="i">
              <button *ngIf="i>=1" class="btn btn-outline-danger" (click)="removeEmail(i)">Remove email</button>
            </div>
          </div>
        </div>

        <div formArrayName="contactPhones">
          <div class="text-right">
            <button class="btn btn-green" (click)="addPhone()">Add another phone</button>
          </div>
          <div class="mt-2" *ngFor="let phone of contactPhones.controls; let i = index">
            <div class="form-inline">
              <label class="mr-2">Contact {{1+i}}</label>
              <input class="form-control mr-2" type="number" [formControlName]="i">
              <button *ngIf="i>=1" class="btn btn-outline-danger" (click)="removePhone(i)">Remove contact</button>
            </div>
          </div>
        </div>
        <hr>
        <tr>
        <h3>Share your poster here!</h3>
          <label for="file"></label>
          <p>Upload your poster to show to the world!</p>
          <input accept=".png, .jpeg, .jpg, .pdf, .tiff, .eps" type="file"
            id="file"
            (change)="onFileChanged($event)"/>
            
          <div class="image-preview mb-3" *ngIf="previewUrl">
              <img [src]="previewUrl" height="500" width="500" />                 
          </div>
        </tr>
        <hr>
        <div class="center">
        <button type="button" (click)="submit()" class="btn btn-green mt-5">Create Event</button>
        </div>

      </form>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

</body>

