<html lang="en" class="{{storedTheme}}" role="main">
<head>
    <script>
        const toggleSwitch = document.querySelector('.theme-switch input');

          function switchTheme(e) {
              if(e.target.checked) {
                  document.documentElement.setAttribute('data-theme', 'dark');
                  localStorage.setItem('data-theme', 'dark'); //add this
              }
              else{
                  document.documentElement.setAttribute('data-theme', 'light');
                  localStorage.setItem('data-theme', 'light'); //add this
              }
            }
          toggleSwitch.addEventListener('change', switchTheme, false);
          const currentTheme = localStorage.getItem('data-theme');
          if (currentTheme) {
              document.documentElement.setAttribute('data-theme', currentTheme);

              if (currentTheme === 'dark') {
                  toggleSwitch.checked = true;
                }
              };
      </script>
</head>

<div class="col-md-12 text-right">
  <div class="theme-switcher-wrap">
        <!--<input type="checkbox" id="checkbox" />-->
        <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
          <!--<div class="slider round"></div>-->
          <div class="switch-path"></div>
          <div class="switch-handle"></div>
        </label>
</div>
</div>

<div class="container" data-aos="fade" data-aos-delay="100">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md" data-aos="fade" data-aos-delay="200">

    <h2 class="h2" data-aos="fade" data-aos-delay="100">Ticket Cancellation</h2><tr><i><p>Please note that this process cannot be undone.</p></i></tr>
      <form [formGroup]="cancelForm" novalidate (ngSubmit)="submit()">
        <hr>
        <div class="form-group" data-aos="fade" data-aos-delay="100">
          <label for="event_id" style="font-weight: bolder"><i class="material-icons" style="vertical-align: top"></i>Event ID</label>
          <input class="form-control main-search" placeholder="The unique code of your Event" type="text" formControlName="event_id" id="event_id">
          <small *ngIf="!cancelForm.controls.event_id.valid" class="text-danger">

          </small>
          <hr>
        </div>

        <div class="form-group" data-aos="fade" data-aos-delay="300">
          <label for="name">Your attendee ID</label>
          <input class="form-control main-search" placeholder="The ID given when you purchased your ticket" type="number" formControlName="attendee_id" id="attendee_id">
          <small *ngIf="!cancelForm.controls.attendee_id.valid" class="text-danger">
            Please input your attendee ID
          </small>
        </div>

        <div class="form-group" data-aos="fade" data-aos-delay="700">
          <label for="eventDescription">Email</label>
          <input class="form-control main-search" placeholder="The email used in purchasing your ticket" type="email" formControlName="email" id="email">
          <small *ngIf="!cancelForm.controls.email.valid" class="text-danger">
            Please input your email
          </small>
        </div>

        <div class="output"></div>

        <div class="center">
        <button type="button" (click)="submit()" class="btn btn-danger mt-5" data-aos="fade" data-aos-delay="700">Cancel Purchase</button>
      </div>
      </form>
    </div>
    <div class="col-md-2"></div>
  </div>

</div>

</html>
