<html lang="en" class="{{storedTheme}}" role="main">
<head>
    <script>
        const toggleSwitch = document.querySelector('.theme-switch input');
      
          function switchTheme(e) {
              if(e.target.checked) {
                  document.documentElement.setAttribute('data-theme', 'dark');
                  localStorage.setItem('data-theme', 'dark'); //add this
              }
              else{
                  document.documentElement.setAttribute('data-theme', 'light');
                  localStorage.setItem('data-theme', 'light'); //add this
              }
            }
          toggleSwitch.addEventListener('change', switchTheme, false);
          const currentTheme = localStorage.getItem('data-theme');
          if (currentTheme) {
              document.documentElement.setAttribute('data-theme', currentTheme);
      
              if (currentTheme === 'dark') {
                  toggleSwitch.checked = true;
                }
              };
      </script>
</head>

<div class="col-md-12 text-right">
  <div class="theme-switcher-wrap">
        <!--<input type="checkbox" id="checkbox" />-->
        <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
          <!--<div class="slider round"></div>-->
          <div class="switch-path"></div>
          <div class="switch-handle"></div>
        </label>
</div>
</div>

<body>
<div class="container">
  <div class="row mt-5"></div>
  <div class="row">
      <div class="col-md-2"></div>
    <div class="col-md">
      <div class="container-fluid">
        <h2 style="text-align: center">Create Account</h2>
        <!--      <div class="row mt-5">-->
        <div class="card w-100" style="border-radius: 20px">
          <div class="card-body">
            <form class="" [formGroup]="signupForm" id="signup-form">
              <div class="form-group">
                <label for="name" style="font-weight: bolder"><i class="material-icons" style="vertical-align: top">person</i> Full Name</label>
                <input type="text" class="form-control main-search" formControlName="name" id="name">
              </div>
              <div class="form-group">
                <label for="email" style="font-weight: bolder"><i class="material-icons" style="vertical-align: top">email</i> Email</label>
                <input type="email" class="form-control main-search" formControlName="email" id="email">
              </div>
              <div class="form-group">
                <label for="password" style="font-weight: bolder"><i class="material-icons" style="vertical-align: top">lock</i> Password</label>
                <input type="password" class="form-control main-search" formControlName="password" id="password">
              </div>
              <div class="form-group">
                <label for="confPassword" style="font-weight: bolder"><i class="material-icons" style="vertical-align: top">lock</i> Confirm Password</label>
                <input type="password" class="form-control main-search" formControlName="confPassword" id="confPassword">
              </div>
              <div class="mt-5 text-center">
                <button class="btn btn-green" type="submit" (click)='signup()'>Submit</button>
              </div>
            </form>
          </div>
        </div>
        <!--      </div>-->
        <div class="alert alert-info w-100" style="border-bottom-right-radius: 20px; border-bottom-left-radius: 20px" role="alert">
          Already have an account? <a href="login" class="alert-link">Click here!</a>
        </div>
      </div>
    </div>
      <div class="col-md-2"></div>
  </div>
</div>

</body>
</html>