<html>
<div class="wrapper" data-aos="fade-up" data-aos-delay="200">

    <h1 data-aos="fade-up" data-aos-delay="300">Yay, {{auth.getUserName()}}</h1>
    <p data-aos="fade-up" data-aos-delay="700"><b>You're one step short from heading to the event.</b><br>Check your email to confirm your purchase and upload your payment proof.</p>
    <div data-aos="fade-up" data-aos-delay="900" class="buttons"><a href="/">Home</a><a href="/dashboard">Go to Dashboard</a><br/><span></span></div>

    <div class="column">
    </div>

</div>

</html>