*, :before, :after {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    align-items: center;
    background: #dadada;
    min-width: 275px;
    height: 100vh;
    margin: 0 10vw;
    overflow: hidden;
    color: #86C232;
    font-family: Roboto;
  }
  
  .wrapper {
    flex-grow: 2;
    width: 40vw;
    height:100%;
    max-width: 500px;
    margin: auto;
  }
  
  h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 100;
  }
  
  p {
    width: 95%;
    font-size: 1.5em;
    line-height: 1.4;
  }

  img{
      margin: auto;
  }
  
  .buttons {
    white-space: nowrap;
    display: inline-block;
  }
  
  span {
    display: block;
    color: #86C232;
    letter-spacing: 1.3px;
    text-align: center;
  }
  
  a {
    display: inline-block;
    padding: .8em 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 3px solid #86C232;
    border-radius: 28px;
    color: #86C232;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: .2em;
    position: relative;
    overflow: hidden;
    transition: .3s;
  }
  a:hover {
    color: #E3F2FD;
  }
  a:hover:before {
    top: 0;
  }
  a:before {
    content: '';
    background: #86C232;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    transition: .3s;
    z-index: -1;
  }
  
  .space {
    width: 75px;
    height: calc(50vh + 37.5px);
    border-top-left-radius: 37.5px;
    border-top-right-radius: 37.5px;
    overflow: hidden;
    margin: calc(50vh - 37.5px) auto 0 auto;
    position: relative;
    pointer-events: none;
    -webkit-transform: translateZ(10);
  }
  
  @media (max-width: 600px) {
    body {
      margin: 0 5vw;
    }
  }
  