div.gallery {
    margin: 10px;
    border: 1px solid var(--border-color);
    float: left;
    width: 200px;
    height: 300px;
    background-color: var(--tile-color);
    border-radius: 25px;
    transition: all 250ms !important;
    transition-delay: 0 !important;
}

div.gallery:hover {
    width: 225px;
    overflow: hidden;
    height: 325px;
    transition: all 250ms !important;
    transition-delay: 0 !important;
}


div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 5px;
    font-weight: 300;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}