div.gallery {
    margin: 10px;
    border: 1px solid var(--border-color);
    float: left;
    width: 200px;
    height: 300px;
    background-color: var(--tile-color);
    border-radius: 25px;
    transition: all 250ms !important;
    transition-delay: 0 !important;
}

div.gallery.old:hover {
    width: 225px;
    overflow: hidden;
    height: 325px;
    transition: all 250ms !important;
    transition-delay: 0 !important;
}

div.gallery:hover {
    overflow: hidden;
    border-color:#86C232;
    transition: all 250ms !important;
    transition-delay: 0 !important;
}


div.gallery img {
    width: 100%;
    height: auto;
    max-height: 200px;
   
}

div.desc {
    padding: 5px;
    font-weight: 300;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.profile-page .container {
    background-color: var(--tile-color);
    border-radius: 25px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    max-height: 400px;  
    margin-bottom: 10px;
    border-radius: 25px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    border-radius: 25px;
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

.verify {
    position: absolute;
    right: 0;
    
}