
<html lang="en" class="{{storedTheme}}" role="main">

<head>
      <script>
          const toggleSwitch = document.querySelector('.theme-switch input');
        
            function switchTheme(e) {
                if(e.target.checked) {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem('data-theme', 'dark'); //add this
                }
                else{
                    document.documentElement.setAttribute('data-theme', 'light');
                    localStorage.setItem('data-theme', 'light'); //add this
                }
              }
            toggleSwitch.addEventListener('change', switchTheme, false);
            const currentTheme = localStorage.getItem('data-theme');
            if (currentTheme) {
                document.documentElement.setAttribute('data-theme', currentTheme);
        
                if (currentTheme === 'dark') {
                    toggleSwitch.checked = true;
                  }
                };
        </script>
</head>
<div class="col-md-12 text-right">
    <div class="theme-switcher-wrap">
          <!--<input type="checkbox" id="checkbox" />-->
          <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
            <!--<div class="slider round"></div>-->
            <div class="switch-path"></div>
            <div class="switch-handle"></div>
          </label>
  </div>
</div>

<body>

<div class="container">
  <div class="row">
    <div class="col-md">
    </div>
    
    <div class="col-md text-center">
      <div class="col vertical-center">
        <input class="form-control main-search" onsubmit="search()" id="mainSearch" type="text" placeholder="Search event code..." aria-label="Search"><span class="main-search-addon" id="basic-text1">
      <i class="material-icons ml-2" style="font-size: xx-large; color: var(--font-color);">search</i></span>
      </div>
    </div>

    <button id="hiddenBTN" (click)="search()" style="visibility: hidden;"></button>

    <div class="col-md">
    </div>

  </div>
</div>

</body>


