<!--<!DOCTYPE html>-->
<!--<html lang="en" class="{{storedTheme}}" role="main">

<head>
    <script>
        const toggleSwitch = document.querySelector('.theme-switch input');
      
          function switchTheme(e) {
              if(e.target.checked) {
                  document.documentElement.setAttribute('data-theme', 'dark');
                  localStorage.setItem('data-theme', 'dark'); //add this
              }
              else{
                  document.documentElement.setAttribute('data-theme', 'light');
                  localStorage.setItem('data-theme', 'light'); //add this
              }
            }
          toggleSwitch.addEventListener('change', switchTheme, false);
          const currentTheme = localStorage.getItem('data-theme');
          if (currentTheme) {
              document.documentElement.setAttribute('data-theme', currentTheme);
      
              if (currentTheme === 'dark') {
                  toggleSwitch.checked = true;
                }
              };
      </script>
</head>

<div class="col-md-12 text-right">
    <div class="theme-switcher-wrap">
          <input type="checkbox" id="checkbox" />
          <label class="theme-switcher" [ngClass]="(storedTheme === 'dark')?'theme-switcher active' : 'theme-switcher'" (click)="setTheme()">
            <div class="slider round"></div>
            <div class="switch-path"></div>
            <div class="switch-handle"></div>
          </label>
</div>
</div>

<div class="wrapper">
    <h1 data-aos="fade-up" data-aos-delay="100">Welcome</h1>
</div>

<body>
  Test
</body>

</html>-->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Welcome :: ticketMaya</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

   Google Fonts 
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

   Vendor CSS Files 
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

-->

</head>

<body>
  <section id="hero">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-aos="fade">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(https://wallpaperaccess.com/full/1155050.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 data-aos="fade-up" data-aos-delay="300">Welcome to <span>ticketMaya</span></h2>
              <p data-aos="fade" data-aos-delay="500">Your one stop event service</p>
              <a href="/search" class="btn-get-started" data-aos="fade-up" data-aos-delay="1900">Explore</a>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(https://webgradients.com/public/webgradients_png/035%20Itmeo%20Branding.png)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Discover</h2>
              <p class="animate__animated animate__fadeInUp">Go and venture into different new challenges. Appreciate your friends and colleagues by participating in your agenda. You'll never know what to expect next.</p>
              <a href="/search" class="btn-get-started animate__animated animate__fadeInUp scrollto">Explore</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?ixlib=rb-1.2.1&w=1000&q=80)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Endless Possibility</h2>
              <p class="animate__animated animate__fadeInUp">Making an event has never been this simple. All with several clicks away, you could go and host the events of your wildest dreams.</p>
              <a href="/search" class="btn-get-started animate__animated animate__fadeInUp scrollto">Explore</a>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </section>

  <main id="main">

    <section id="about" class="about">
      <div class="container" data-aos="fade-up" data-aos-delay="300">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Event. Even. Simpler.</h2>
            <h3>Your platform in making your events a moment not to forget.</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p><strong>
              Introducing ticketMaya, a simple, friendly application specially crafted and designed to cater you event-maniacs. In managing and simplifying your never ending daily chores, all day, for anyone, anywhere, anytime.
            </strong></p>
            <p class="font-italic">
              Sign Up and enjoy these benefits and plus points instantly.
            </p>
            <ul>
              <li><i class="material-icons">check</i> Create events at your requests</li>
              <li><i class="material-icons">check</i>  Manage your events like a pro</li>
              <li><i class="material-icons">check</i> Arrange and organize payments to ensure validity</li>
            </ul>
            <div class="container">
            <a href="/signup" class="btn-get-started">Sign Up</a> or 
            <a href="/login" class="btn-get-started">Log In</a>
          </div>
          </div>
        </div>

      </div>
    </section>

    <section id="services" class="services">
      <div class="container" data-aos="fade-up" data-aos-delay="300">

        <div class="section-title">
          <h2>Service</h2>
          <p></p>
        </div>

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why ticketMaya?</h3>
              <p>
                There are definitely reasons why you opt to choose ticketMaya in handling your daily event activities. Here are factors you must know why.
              </p>
              <div class="text-center">
                <a href="/" class="more-btn"> >> <i class="bx bx-chevron-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="700">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="large material-icons" style="vertical-align: top">done_all</i>
                    <h4>Simplicity</h4>
                    <p>Why fill in data that is not important for your attendees? Or wait for approvals? Give us the most crucial data and publish your event in a blink!</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="1100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="large material-icons" style="vertical-align: top">share</i>
                    <h4>Shareability</h4>
                    <p>Event codes can be easily shared to your target audience, they don't need to sign up to purchase tickets! Why make your audience jump hurdles to attend your event?</p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="1300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="material-icons" style="vertical-align: top">library_books</i>
                    <h4>Control</h4>
                    <p>You have control over your event. See who's coming and who has paid. Manage the proof of payment any way you like.</p>
                  </div>
                </div>
              </div>
            </div>

      </div>

      </div>

    </div>
    </section>

    <section id="clients" class="clients section-bg" data-aos="zoom-in" data-aos-delay="700">
      <div class="container" data-aos="zoom-in" data-aos-delay="700">

          <div style="text-align:center" data-aos="zoom-in" data-aos-delay="700">
            <h2 class="center">Ready to start?</h2>
          </div>

          <div class="container" data-aos="zoom-in" data-aos-delay="700">
            <a href="/buy" class="btn-get-started">Buy Tickets</a>
          </div>

        </div>
      
    </section>
    
    <div style="padding:20px">
    </div>

  </main>

</body>

</html>